body{font-family: 'Sintony', sans-serif;}
.wrap{
width:100%;
clear:both;
}
.logo{
	margin: 10px 0px 0px 0px;
}
.logo span.slogen{
	margin:110px 0px 0px 4px;
	font-size: 16px;
}
.icon{
	padding:105px 0 0 85px;
}
.icon ul.social li{
	float:left;
}
/* main-nav */
#main-nav{position:relative;z-index:1;}
#main-nav div.row{
	background:#ffa71d;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.navbar{
	background: #ffa71d!important;
	border: 0px!important;
	box-shadow: 0 0px 0px rgba(0,0,0,0.065);
	margin-bottom:0px;
}
#main-nav ul{padding:19px 0;}
#main-nav li a{
	padding: 0 15px;
	border-right: 2px dotted #fff;
	color:#fff;
}
#main-nav ul li:last-child{
	border-right: none;
}
#btlogin{
	padding-left:0px;
	padding-right:30px;
	}
.button{
	font-weight:bold;
	width:100%;
	background:#4683ae;
	line-height:36px;
	box-shadow: 2px 1px 1px #9f751c;
	margin-top:7px;
	margin-bottom:7px;
	
}
.navbar-toggle {
	background: #4280ac!important;
}
nav .navbar-toggle .icon-bar {
background-color: #fff!important;
}
.navbar-collapse.in {
	overflow-y: visible!important;
}
/**********section banner**************/
section#banner{
	background: #6ba3d6 repeat-x;
	padding-top: 20px;
	margin-top: -20px;
}
section#banner .container{
	background: url(../images/banner.jpg) no-repeat;
	background-size: cover;
	padding:14px 0px 64px 0px;
}

#banner span#title-des{
	font-size: 22px;
	color:#fff;
	line-height: 32px;
}
#banner ul{
	margin:25px 0 15px 0!important;
	padding-left:0px;
}
#banner ul li{
	display:inline-block;
	line-height: 20px;
	color:#fff;
	font-size: 14px;
	margin:5px 0px 0px 0px;
}
#banner ul li:last-child{
	margin:10px 0px;
}
#banner ul li i{
	margin-right: 10px;
}
section#banner .btn-sign{
	background:#ffa51c;
	color:#fff;
	width: 100%;
}
section#banner .head-login{
	background: #4381ad;
}
.input-login{
	background: #fff;
	border-radius: 10px;
	padding: 0 14px 15px;
	margin-left:-15px;
}

section#banner .form-login .user{
	padding-left:35px;
	background: url(../images/user.jpg) no-repeat;

}
section#banner .form-login .pass{
	padding-left: 35px;
	background: url(../images/pass.jpg) no-repeat;
}
.form-login{
	border-radius: none;
}
.btn-loged{
	margin: 15px 0px 10px 0px ;
}
.btn-log{
background: url(../images/bglogin.jpg) #ffa71d no-repeat 10px 10px;
text-indent: 20px;
border-radius: none;
color: #fff;
}
.title-login{
	background: #4281ac;
	color:#fff;
	border-radius: 10px 10px 0px 0px;
	font-weight: bold;
}
.text{
	padding:20px 0px 20px 10px;
}
.images{
padding:20px 0px;
}
.form-login{
	
	 padding: 42px 20px 60px;

}
/**************section#video***********************/
section#video{
	background: #fafafa;
}
section#video .container{
	background:#fff;
	position:relative;
	top:-43px;
}
section#video .video-content{
	padding:57px 40px 62px 50px;
	border:1px solid #6b8ebb;
	border-top:1px solid #6b8ebb;
	border-right:1px solid #e3e1e1;
	border-left:1px solid #e3e1e1;
	border-bottom:2px solid #e3e1e1;

}
section#video .sample{
	padding-bottom:34px;
	font-size: 18px;
	width: 54%;
	line-height: 30px;
}
section#video .des-video{
	padding-top: 105px;
}
section#video .des-video span{
	font-size: 18px;
	padding-bottom:15px;
}
section#video .des-video p{
	line-height: 25px;
	color:#a3a3a3;
}
footer{
	border-top:12px solid #e1e1e1;
	text-align: center;
	padding-top: 40px;
	position: relative;
	top:20px;
}
footer .img{
/***** destop***/
}
@media (min-width: 1200px) {
	.container{
	max-width:970px;
	}
}
/*************tablet***************/
@media (max-width:979px){
	#main-nav ul li a{
		padding: 0px 11px;
	}
}
/**************phone****************/
@media(max-width: 767px){
	.row{margin-left:15px;margin-right:15px;}
	#main-nav ul li a{
		padding:10px 0px;
		border-right: none;
	}
	.input-login{
		padding:0px;
	}
	.title-login{
		margin:0px;
	}
	#video .sample{
		width: 100%;
		display: inline;
	}
	#video img{
		width: 100%;
	}
}
@media(max-width: 480px){
	.icon{
		padding:10px 120px 0px 0px;
	}
	.logo span.slogen{
	margin:10px 0px 0px 4px;
	}

}