*{margin:0px;padding:0px;}
.form{width:500px;height:auto;border:1px solid gray;margin:0px auto;padding:15px;}
.form p label{display:inline-block;width:130px;}
.form p input[type='text'],.form p input[type='password'],textarea{padding:5px;border:none;border-bottom:2px solid gray;width:60%;outline:none;font-size:15px;}
.form p input[type='submit'],.form p button{margin-right:10px;background:blue;border:1px solid black;color:white;padding:5px 15px;border-radius:5px;cursor:pointer;}
.header{background:#4285f4; color:white;padding:10px;margin-bottom:10px;}
.header a{color:white;}
.footer{background:#4285f4;margin-top:10px;color:white;}
p{display:block;margin:10px 0px;}
table{width:100%;border-collapse:collapse;}
table thead{background:#AAAAAA;}