body{
	background-color: #34a56c;
}
#content{
	background-color: #6ba3d6;
	color: #fff;
}
#content #module_login{
	color: #141414;
	background-color: #fff;
	border-radius: 10px;
}
#title_des{

}
.tick{
	padding-right: 10px;
}
}
form{
	width: 250px;
	margin: 10px;
	border: 1px;
	background-color: #fff;
}
#title_login{
	background-color: #4683ae;
	color: #fff;
}
nav{
	height: 40px;
	background-color: #ffa71d;
}
nav ul{
	list-style: none;
}
nav ul li{
	float: left;
	padding:0px 20px;
	

}
nav ul li a{
	line-height: 40px;
}
