.wrapper{
	width: 960px;
}
header{
	background-color: #0099ff;
	color: white;
	padding:5px;
	text-align: center;
}

#main_menu #left{
	background-color: #006766;
	color: #fff;
	float: left;
	height: 500px;
	padding: 5px;
	text-align: center;
	width: 20%;
}
#main_menu #main{
	background-color: #fff;
	color: #f;
	float: left;
	padding-top: 200px;
	height:500px;
	width: 57%;
	padding: 5px;
	text-align: center;
}
#main_menu #right{
	background-color: #006766;
	color: #fff;
	float: right;
	height: 500px;
	padding: 5px;
	text-align: center;
	width: 20%;
}
.navbar{
	background: #ffa71d!important;
	border: 0px!important;
	box-shadow: 0 0px 0px rgba(0,0,0,0.065);
	margin-bottom:0px;
}
.navbar-toggle {
	background: #4280ac!important;
}
nav .navbar-toggle .icon-bar {
background-color: #fff!important;
}
.navbar-collapse.in {
	overflow-y: visible!important;
}
footer{
	clear: both;
	background-color: #333333;
	height: 100px;
	color: #fff;
}